# Database
DB_USER=postgres
DB_PASS=password

DB_DEV_URL=postgres://${DB_USER}:${DB_PASS}@localhost:5434/charity_dev
DB_LOCAL_URL=postgres://${DB_USER}:${DB_PASS}@localhost:5433/charity_local

# App
APP_PORT=8080
